<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#"
          th:action="@{/books/{id}/update(id=${book.id})}"
          th:object="${book}"
          method="post">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <br/>
        <label for="author">Author</label>
        <input type="text" th:field="*{author}" id="author" placeholder="Author">
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
        <br />
        <lable for="pages">Pages</lable>
        <input type="text" th:field="*{pages}" id="pages" placeholder="Pages">
        <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
        <br />
        <input type="submit" value="Update Book">
    </form>
    <a th:href="@{/books/{id}/delete(id=${book.id})}">Delete</a>
</body>
</html>