<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="#" th:action="@{/books/new}" th:object="${book}" method="post">
            <label for="Title">Title</label>
            <input type="text" th:field="*{title}" id="title" placeholder="Title">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            <br />
            <label for="author">Author</label>
            <input type="text" th:field="*{author}" id="author" placeholder="Author">
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
            <br />
            <label for="pages">Pages</label>
            <input type="text" th:field="*{pages}" id="pages" placeholder="Pages">
            <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
            <br />
            <input type="submit" value="Add Book">
        </form>
    </body>
</html>